.places {
  max-width: 984px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 88px;

}

@media screen and (max-width:1024px){
   .places {
    margin-left: auto;
    margin-right: auto;
    padding: 0 24px;

  }
}